<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Astral{% if title %} - {{ title }}{% endif %}</title>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        {% assets "css" %}<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />{% endassets %}
    </head>
    <body class="{{ page | default('') }}">
        {% with flashes = get_flashed_messages(with_categories=true) %}
        {% if flashes %}
            <ul id="flashes">
            {% for category, flash in flashes %}
                <li class="{{ category }}">
                    <div class="icon">
                        {% if category == 'success' %}<i class="fa fa-check"></i>
                        {% elif category == 'warn' %}<i class="fa fa-warning"></i>
                        {% elif category == 'error' %}<i class="fa fa-times-circle"></i>
                        {% else %}<i class="fa fa-info-circle"></i>{% endif %}
                    </div>
                    <div class="message">{{ flash }}</div>
                    <div class="icon close">
                        <a href="javascript:void(0)" class="close"><i class="fa fa-fw fa-times"></i></a>
                    </div>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        <div id="sidebar">
            <h1>Astral</h1>
            <ul class="projects">
            {% for project in projects | default([]) %}
                <li>{{ project.name }}</li>
            {% endfor %}
                <li><i class="fa fa-2x fa-plus"></i><a href="{{ url_for('.projects_create') }}">New project...</a></li>
            </ul>
            <div class="controls">
                <a href="{{ url_for('.setup') }}">setup</a> | 
                <a href="{{ url_for('.home') }}">refresh</a>
            </div>
        </div>
        <div id="content">{% block content %}Nothing here yet{% endblock %}</div>
        {% assets "js" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
    </body>
</html>